<h2><%= @article.title %> - Versions</h2>

<ul>
<% @versions.each do |rev| -%>
<li><%= link_to rev.updated_at, 
	article_url(@article, :version => rev.version) %></li>
<% end -%>
</ul>

<%= link_to 'Back', articles_path %>